@font-face{font-family:'MuseoSansCyrl';src:url(fonts/MuseoSansCyrl-300.woff2),url(fonts/MuseoSansCyrl-300.woff);font-weight:300;font-style:normal;font-display:swap}
@font-face{font-family:'PTSerif';src:url(fonts/PTSerif-Bold.woff2),url(fonts/PTSerif-Bold.woff);font-weight:700;font-style:normal;font-display:swap}
body{background:url(img/iswanto3.png) no-repeat;height: 100vh;background-size: cover;}
input{display:none}
.main__title{display:flex;font-family:'PTSerif',sans-serif;font-size:280px;
margin-bottom: 0%;color:#f8eee4;margin-top:17%;margin-left:190px;opacity:.4}
.main__title2{font-size:98px;font-family:'PTSerif',sans-serif;margin-top: -140px;color:#f8eee4;margin-bottom: 56px;margin-left:33%}
p{font-family:'MuseoSansCyrl',sans-serif;font-size:22px;margin-left:26%;margin-right:10%;color:#f8eee4;margin-top:-38px;margin-bottom:56px}
.logo{background:url(img/Vector3.png) no-repeat;display: flex;height:150%;margin-left: 10%;margin-top: 88px;}
nav{font-family:'MuseoSansCyrl',sans-serif;font-size:22px;width:110%;display:flex;margin-left:212%;margin-top: 11px;}
.menu__item{margin-right:27px;margin-left: 13px;color:#f8eee4;position:relative;text-decoration:none}
.menu__item:last-child{margin-right:0}
.menu__item_active{margin-right:27px;color:#f8eee4;text-decoration:none}
.menu__item:hover{opacity:.7}
.menu__item:hover::after,.menu__item_active::after{opacity:1;width:100%}
.menu__item::after,.menu__item_active::after{position:absolute;display:block;content:'';width:0;left:0;width:0%;height:3px;background:#f8eee4;transition:opacity .7s;}
.menu__item{margin-right:27px;color:#f8eee4;text-decoration:none}
.menu__item{margin-right:27px;color:#f8eee4;text-decoration:none}
.menu__item{margin-right:27px;color:#f8eee4;text-decoration:none}
.main__button{padding-bottom:16px;padding-top:19px;padding-right:95px;padding-left:87px;border-radius:48px;background:#d4bea3;font-family:'MuseoSansCyrl',sans-serif;font-size:22px;color:#f8eee4;margin-left:214px;text-decoration:none;transition:opacity .5s}
.header{height:45px}
.content{width:830px;min-height:565px}
.sidebar1{background:url(img/aron-visuals3.png) no-repeat;min-height:425px;width:447px;margin-left: 54.3%;margin-top:-451px;}
.footer{min-height: 50px;width: 100%}
.sidebar2{background:url(img/123-3.png) no-repeat;min-height:419px;width:314px;margin-left: 72.7%;margin-top:-405px}
.sidebar3{background:url(img/sebastian3.png) no-repeat;min-height:400px;width:208px;margin-top:-419px;margin-left:89.5%}
@media (max-width:1881px) {
  .sidebar1{margin-left: 54.3%;}
  .sidebar2{margin-left: 72.7%;}
  .sidebar3{width: 200px;margin-left: 89.5%;}
}
@media (max-width:1844px) {
  nav{width: 105%;margin-left: 200%;}
  .sidebar1{margin-left: 54.3%;}
  .sidebar2{margin-left: 72.7%;}
  .sidebar3{width: 197px;margin-left: 89.5%;}
}
@media (max-width:1800px) {
  .sidebar1{margin-left: 53%;}
  .sidebar2{margin-left: 72%;}
  .sidebar3{width: 194px;margin-left: 89.5%;}
}
@media (max-width:1764px) {
   nav{width: 105%;margin-left: 195%;}
   body{background-size: cover;height: 100vh}
  .sidebar1{margin-left: 52.5%;}
  .sidebar2{margin-left: 72%;}
  .sidebar3{width: 190px;margin-left: 89.5%;}
}
@media (max-width:1730px) {
  nav{width: 105%;margin-left: 190%;}
  .sidebar1{margin-left: 52%;}
  .sidebar2{margin-left: 72.4%;}
  .sidebar3{width: 162px;margin-left: 90.9%;}
}
@media (max-width:1700px){
body{height: 100vh}
nav{width: 105%;margin-left: 180%;}
.sidebar1{margin-left: 52%;}
.sidebar2{margin-left: 72.4%;}
.sidebar3{width: 159px;margin-left: 90.9%;}
}
@media (max-width:1650px){
body{height: 100vh}
nav{width: 105%;margin-left: 172%;}
.sidebar1{margin-left: 50.5%;}
.sidebar2{margin-left: 71.7%;}
.sidebar3{width: 153px;margin-left: 90.9%;}
}
@media (max-width:1600px){
body{height: 100vh}
nav{width: 105%;margin-left: 165%;}
.sidebar1{margin-left: 50.5%;}
.sidebar2{margin-left: 72%;}
.sidebar3{width: 140px;margin-left: 91.5%;}
}
@media (max-width:1550px){
body{height: 100vh}
nav{width: 105%;margin-left: 150%;}
.sidebar1{margin-left: 49%;}
.sidebar2{margin-left: 71.4%;}
.sidebar3{width: 135px;margin-left: 91.5%;}
.main__title{margin-left: 100px; margin-top:10%;}
.main__title2{margin-left: 22%;}
p{margin-left: 15%;margin-right: 20%;}
.main__button{margin-left: 15%;}
}
@media (max-width:1490px) {
  .main__title{margin-top:9%;}
  nav{width: 105%;margin-left: 140%;}
  .sidebar1{margin-left: 47%;}
  .sidebar2{margin-left: 70.4%;}
  .sidebar3{width: 127px;margin-left: 91.5%;}
}
@media (max-width:1420px) {
  .logo{margin-left: 4%;}
  nav{width: 105%;margin-left: 143%;}
  .sidebar1{margin-left: 44%;}
  .sidebar2{margin-left: 69%;}
  .sidebar3{width: 125px;margin-left: 91.5%;}
  .main__title{margin-left: 3%; margin-top:6%;}
  .main__title2{margin-left: 13%;}
  p{margin-left: 7%;margin-right: 29%;}
  .main__button{margin-left: 7%;}
}
@media (max-width:1367px){
.main__title{display:flex;font-family:'PTSerif',sans-serif;font-size:200px;
margin-bottom: 0%;color:#f8eee4;margin-top:12%;margin-left:135px;opacity:.4}
.main__title2{font-size:70px;font-family:'PTSerif',sans-serif;margin-top: -100px;color:#f8eee4;margin-bottom: 56px;margin-left:26%}
p{font-family:'MuseoSansCyrl',sans-serif;font-size:16px;margin-left:154px;margin-right:185px;color:#f8eee4;margin-top:-46px;margin-bottom:37px}
body{background:url(img/iswanto1.png) no-repeat;height: 50vh}
.logo{background:url(img/Vector.svg) no-repeat;display: flex;height:45px;margin-left: 10%;margin-top: 63px;}
nav{font-family:'MuseoSansCyrl',sans-serif;font-size:16px;width:105%;display:flex;margin-left:209%;margin-top: 2%}
.menu__item{margin-right:27px;color:#f8eee4;position:relative;text-decoration:none}
.menu__item:last-child{margin-right:0}
.menu__item_active{margin-right:27px;color:#f8eee4;text-decoration:none}
.menu__item:hover{opacity:.7}
.menu__item:hover::after,.menu__item_active::after{opacity:1;width:100%}
.menu__item::after,.menu__item_active::after{position:absolute;display:block;content:'';width:0;left:0;width:0%;height:3px;background:#f8eee4;transition:opacity .7s,width .5s}
.menu__item{margin-right:27px;color:#f8eee4;text-decoration:none}.menu__item{margin-right:27px;color:#f8eee4;text-decoration:none}
.menu__item{margin-right:14px;color:#f8eee4;text-decoration:none}.main__button{padding-bottom:12px;padding-top:12px;padding-right:64px;padding-left:64px;border-radius:48px;background:#d4bea3;font-family:'MuseoSansCyrl',sans-serif;font-size:16px;color:#f8eee4;margin-left:150px;text-decoration:none;transition:opacity .5s}
.header{height:45px}.content{width:735px;min-height:500px}
.sidebar1{background:url(img/aron-visuals-1.png) no-repeat;min-height:310px;width:250px;margin-left:54.4%;margin-top:-421px}
.footer{min-height: 50px;width: 100%}
.sidebar2{background:url(img/123.png) no-repeat;min-height:280px;width:226px;margin-left: 72.8%;margin-top:-296px}
 .sidebar3{background:url(img/sebastian1.png) no-repeat;min-height:270px;width:147px;margin-top:-280px;margin-left:89.6%}}
 @media (max-width:1354px) {
   .sidebar1{margin-left: 54.4%;}
   .sidebar2{margin-left: 72.8%;}
   .sidebar3{width: 144px;margin-left: 89.6%;}
 }
@media (max-width:1285px) {
  .logo{margin-left: 6%;}
  .sidebar1{margin-left: 52.3%;}
  .sidebar2{margin-left: 71.8%;}
  .sidebar3{width: 138px;margin-left: 89.6%;}
}
@media (max-width:1240px) {
  nav{margin-left: 200%;}
  .logo{margin-left: 6%;}
  .sidebar1{margin-left: 50%;}
  .sidebar2{margin-left: 70.5%;}
  .sidebar3{width: 138px;margin-left: 89%;}
}
@media (max-width:1200px) {
  nav{margin-left: 190%;}
  .logo{margin-left: 6%;}
  .sidebar1{margin-left: 50%;}
  .sidebar2{margin-left: 70.5%;}
  .sidebar3{width: 136px;margin-left: 89%;}
}
@media (max-width:1160px) {
  nav{margin-left: 180%;}
  .logo{margin-left: 6%;}
  .sidebar1{margin-left: 47.5%;}
  .sidebar2{margin-left: 69%;}
  .sidebar3{width: 135px;margin-left: 88.6%;}
  .main__title{margin-left: 3%;}
  .main__title2{margin-left: 11%;}
  .main__button{margin-left: 5%;}
  p{margin-left: 5%;margin-right: 42%;}
}
@media (max-width:1130px) {
  nav{margin-left: 170%;}
  .logo{margin-left: 6%;}
  .sidebar1{margin-left: 47.5%;}
  .sidebar2{margin-left: 69%;}
  .sidebar3{width: 132px;margin-left: 88.6%;}
}
@media (max-width:1090px) {
  nav{margin-left: 160%;}
  .logo{margin-left: 6%;}
  .sidebar1{margin-left: 45.5%;}
  .sidebar2{margin-left: 68%;}
  .sidebar3{width: 126px;margin-left: 88.6%;}
}
@media (max-width:1050px) {
  nav{margin-left: 153%;}
  .logo{margin-left: 6%;}
  .sidebar1{margin-left: 43.5%;}
  .sidebar2{margin-left: 67%;}
  .sidebar3{width: 123px;margin-left: 88.6%;}
}
@media (max-width:1025px){
body{background:url(img/isvanto1024.png) no-repeat;}
.logo{margin-left:3.4%;}
nav{width:108%;margin-left:155.5%;margin-top:3%;}
.main__title{margin-left: 4.5%;}
.main__title2{margin-left: 12.5%;margin-bottom: 8%;}
p{margin-left: 7.1%;margin-right: 41%;margin-bottom: 5%;}
.main__button{margin-left: 6.6%;}
.sidebar1{background:url(img/aron-visuals-1.png) no-repeat;min-height:304px;width:250px;margin-top:-416px;margin-left:50%;}
.sidebar2{background:url(img/123.png) no-repeat;min-height:282px;width:229px;margin-top:-290px;margin-left:74.6%;}
.sidebar3{background:url(img/sebastian1.png) no-repeat;min-height:280px;width:37px;margin-top:-282px;margin-left:97%;}
}
@media (max-width:1010px) {
  nav{margin-left: 148%;}
  .sidebar1{margin-left: 50%;}
  .sidebar2{margin-left: 74.5%;}
  .sidebar3{width: 41px;margin-left: 96.5%;}
}
@media (max-width:985px) {
  nav{margin-left: 142%;}
  .sidebar1{margin-left: 48.2%;}
  .sidebar2{margin-left: 73.5%;}
  .sidebar3{width: 40px;margin-left: 96.5%;}
}
@media (max-width:960px) {
  nav{margin-left: 138%;width: 102%;}
  .sidebar1{margin-left: 48.2%;}
  .sidebar2{margin-left: 73.5%;}
  .sidebar3{width: 38px;margin-left: 96.5%;}
}
@media (max-width:925px) {
  .logo{margin-left: 1%;}
  nav{margin-left: 130%;width: 102%;}
  .sidebar1{margin-left: 44.8%;}
  .sidebar2{margin-left: 71.8%;}
  .sidebar3{width: 37px;margin-left: 96.5%;}
  .main__title {margin-left: -1%;}
  .main__title2{margin-left: 6.5%;}
  p {margin-left: 0%;margin-right: 47%;}
  .main__button{margin-left: 0%;}
@media (max-width:871px) {
  .logo{margin-left: 0%;}
  nav{margin-left: 120%;width: 102%;}
  .sidebar1{margin-left: 43.8%;}
  .sidebar2{margin-left: 71.8%;}
  .sidebar3{width: 30px;margin-left: 97.2%;}
  .main__title {margin-left: -1%;font-size: 185px;}
  .main__title2{margin-left: 6.5%;font-size: 65px;}
  p {margin-left: 0%;margin-right: 50%;font-size: 15px;}
  .main__button{margin-left: 0%;}
}
@media (max-width:842px) {
  .logo{margin-left: 0%;}
  nav{margin-left: 110%;width: 102%;}
  .sidebar1{margin-left: 43.8%;background-size: 86%;}
  .sidebar2{margin-left: 71.8%;background-size: 86%}
  .sidebar3{width: 29px;margin-left: 97.2%;background-size: 492%}
  .main__title {margin-left: 0%;font-size: 170px;margin-bottom: 2%;}
  .main__title2{margin-left: 6.5%;font-size: 60px;}
  p {margin-left: 1%;margin-right: 53%;font-size: 14px;}
  .main__button{margin-left: 0%;}
}
@media (max-width:800px) {
  nav{margin-left: 100%;width: 102%;}
  .sidebar1{margin-left: 44.4%;background-size: 94%;width: 27%;}
  .sidebar2{margin-left: 71.8%;background-size: 90%;width: 26%;}
  .sidebar3{width: 28px;margin-left: 97.3%;background-size: 473%}
  .main__title {margin-left: 0%;font-size: 160px;margin-bottom: 3%;}
  .main__title2{margin-left: 6.5%;font-size: 55px;}
  p {margin-left: 1%;margin-right: 56%;font-size: 13px;}
  .main__button{margin-left: 0%;font-size: 14px;}
  .footer{width: 50%;}
}
@media (max-width:769px){
.main__title{display:flex;font-family:'PTSerif',sans-serif;font-size:190px;color:#f8eee4;margin-top:65px;margin-left:23%;opacity:.4;width: 55%;margin-bottom: 2%;}
.main__title2{font-size:69px;font-family:'PTSerif',sans-serif;color:#f8eee4;margin-left:30%;margin-bottom: 10%;width: 50%;}
.content{width: 98%;}
.main__button{font-size:16px;margin-left:35.5%}
p{text-align:center;font-family:'MuseoSansCyrl',sans-serif;font-size:18px;margin-left:30%;margin-right:31%;color:#f8eee4;margin-top:-33px;margin-bottom:65px}
html{margin-left:0}
nav{display:block;position:fixed;visibility:hidden;top:0;left:-100%;width:300px;height:100%;margin:0;padding:80px 0;list-style:none;text-align:center;background-color:#eceff1;box-shadow:1px 0 6px rgb(0 0 0 / 20%);transition-duration:.25s}
.sidebar1{display:none;background:url(img/aron-visuals-1.png) no-repeat;min-height:304px;width:250px;margin-top:-37%;float:left;margin-left:70%}
.sidebar2{display:none;background:url(img/123.png) no-repeat;min-height:345px;width:229px;float:left;margin-top:-35%;margin-left:97%}
.sidebar3{display:none;background:url(img/sebastian1.png) no-repeat;min-height:280px;width:37px;float:left;margin-top:-35%}
.menu__btn{display:flex;align-items:center;position:fixed;top:60px;right:25px;width:24px;height:25px;cursor:pointer;z-index:1}
.menu__btn>span,.menu__btn>span::after,.menu__btn>span::before{display:block;position:absolute;width:100%;height:2px;background-color:#fcf5ed;transition-duration:.25s}
.menu__btn>span::before{content:'';top:-8px}.menu__btn>span::after{content:'';top:8px}
.menu__box{display:block;position:fixed;visibility:hidden;top:0;left:-100%;width:386px;height:100%;margin:0;padding:80px 0;list-style:none;text-align:center;background-color:#eceff1;box-shadow:1px 0 6px rgba(0,0,0,.2);transition-duration:.25s}
.menu__item{display:block;padding:12px 27px;margin-right:auto;color:#000;font-family:'MuseoSansCyrl',sans-serif;font-size:30px;font-weight:600;text-decoration:none;transition-duration:.25s}
.menu__item:hover{background-color:#cfd8dc}
.menu__item{display:block;padding:12px 24px;margin-right:auto;color:#000;font-family:'MuseoSansCyrl',sans-serif;font-size:30px;font-weight:600;text-decoration:none;transition-duration:.25s}
.menu__item{display:block;padding:12px 24px;margin-right:auto;color:#000;font-family:'MuseoSansCyrl',sans-serif;font-size:30px;font-weight:600;text-decoration:none;transition-duration:.25s}
.menu__item{display:block;padding:12px 24px;margin-right:auto;color:#000;font-family:'MuseoSansCyrl',sans-serif;font-size:30px;font-weight:600;text-decoration:none;transition-duration:.25s}
.menu__item{display:block;padding:12px 24px;margin-right:6.5%;color:#000;font-family:'MuseoSansCyrl',sans-serif;font-size:30px;font-weight:600;text-decoration:none;transition-duration:.25s}
.menu__item:last-child {margin-right: 28px;}
#menu__toggle:checked~.menu__btn>span{transform:rotate(45deg)}#menu__toggle:checked~.menu__btn>span::before{top:0;transform:rotate(0);background-color: #000;}#menu__toggle:checked~.menu__btn>span::after{background-color: #000;top:0;transform:rotate(90deg)}
#menu__toggle:checked~.menu__box{visibility:visible;left:0;padding-top: 20%;z-index: 1;}}
@media (max-width:620px) {
  p{font-size:18px;margin-left:31%;margin-right:20%;margin-top:-33px;margin-bottom:65px}
  .main__button{margin-left: 31%;}
}
@media (max-width:560px) {
  .main__title{font-size:190px;margin-top:65px;margin-left:15%;width: 55%;margin-bottom: 2%;}
  .main__title2{font-size:69px;margin-left:24%;margin-bottom: 10%;width: 50%;}
  p{font-size:18px;margin-left:24%;margin-right:21%;margin-top:-33px;margin-bottom:65px}
  .main__button{margin-left: 31%;}
}
@media (max-width:500px) {
  p{font-size:18px;margin-left:25%;margin-right:15%;margin-top:-33px;margin-bottom:65px}
  .main__button{margin-left: 32%;}
}
@media (max-width:450px) {
  .logo{margin-top: 13%;}
  .main__title{font-size:190px;margin-top:65px;margin-left:4%;width: 55%;margin-bottom: 2%;}
  .main__title2{font-size:69px;margin-left:14%;margin-bottom: 10%;width: 50%;}
  p{font-size:18px;margin-left:16%;margin-right:16%;margin-top:-33px;margin-bottom:65px}
  .main__button{margin-left: 25%;}
}
@media (max-width:400px) {
  .main__title{font-size:180px;margin-top:65px;margin-left:0%;width: 55%;margin-bottom: 4%;}
  .main__title2{font-size:64px;margin-left:12%;margin-bottom: 10%;width: 50%;}
  p{font-size:17px;margin-left:13%;margin-right:15%;margin-top:-33px;margin-bottom:65px}
  .main__button{margin-left: 21%;}
}
@media (max-width:380px){
  .logo {
    margin-top: 11.5%;
    margin-left: 9%;
}
body{background:url(img/iswanto2.png) no-repeat;}
#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
    padding-top: 46%;
    z-index: 1;
}
#menu__toggle:checked~.menu__btn>span{margin-top: -214%;margin-left: 32%;background-color: #000;}
.menu__btn{margin-top:-7px;margin-right:9px;z-index: 2}
.main__title{font-size:170px;margin-top:49.5px;margin-left:2.5%;width: 55%;margin-bottom: 7%;}
.main__title2{font-size:60px;margin-left:19%;margin-bottom: 19.6%;width: 50%;}
p{font-size:18px;margin-left:10%;margin-right:9%;margin-bottom:51px}
.main__button{margin-left: 19.4%;}
}
@media (max-width:360px){
.main__title{margin-left:0%;margin-bottom: 5%;}
.main__title2{margin-left:13%;}
.menu__btn{margin-top:-7px;margin-right:9px}
p{font-size:18px;margin-left:9%;margin-right:5%;margin-bottom:51px}
.main__button{font-size:16px;margin-left:18%}
}
@media (max-width:335px) {
  .logo{margin-left: 2%;}
  .main__title{margin-left:0%;margin-bottom: 8%;font-size: 160px;}
  .main__title2{margin-left:15%;font-size: 55px}
  .menu__btn{margin-top:-10px;margin-right:0px}
  p{font-size:17px;margin-left:7%;margin-right:6%;margin-bottom:51px}
  .main__button{font-size:16px;margin-left:17%}
}
@media (max-width:310px){
.menu__item:last-child {margin-right: 79px;}
.menu__item{margin-right: 23%}
.main__title{margin-left:0%;font-size: 150px;margin-bottom: 10%;}
.main__title2{margin-left:15%;font-size: 50px;}
p{font-size:16px;margin-left:5%;margin-right:5%;margin-bottom:51px}
.main__button{font-size:15px;margin-left:12%}
}
@media (max-width:288px) {
  .main__title{margin-left:0%;font-size: 140px;margin-bottom: 13%;}
  .main__title2{margin-left:17%;font-size: 45px;}
  p{font-size:15px;margin-left:5%;margin-right:5%;margin-bottom:51px}
  .main__button{font-size:15px;margin-left:10%}
}
@media (max-width:268px){
  .menu__item:last-child {margin-right: 32%;}
  .menu__item{margin-right: 32%}
  .main__title{margin-left:0%;font-size: 130px;margin-bottom: 15%;}
  .main__title2{margin-left:17%;font-size: 43px;}
  p{font-size:15px;margin-left:4%;margin-right:0%;margin-bottom:51px}
  .main__button{font-size:15px;margin-left:22%;padding: 10px 31px 10px 34px;}
}
